# colors
:root{
  --
  --c--white :hsl(0, 0%, 100%);

  --color-main-bg: var(--c--white);
  
}





*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}
